.card-container-1,
.card-container-2,
.card-container-3,
.card-container-4,
.card-container-5,
.card-container-6,
.card-container-7,
.card-container-8,
.card-container-9 {
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(10px);
}

.card-container-1:hover {
  background-color: #3b6790;
}
.card-container-2:hover {
  background-color: #b771e5;
}
.card-container-3:hover {
  background-color: #4da1a9;
}
.card-container-4:hover {
  background-color: #3e5879;
}
.card-container-5:hover {
  background-color: #16c47f;
}
.card-container-6:hover {
  background-color: #213555;
}
.card-container-7:hover {
  background-color: #d9eafd;
}
.card-container-8:hover {
  background-color: #685752;
}
.card-container-9:hover {
  background-color: #0a5eb0;
}

.camping i{
  position: relative;
  left: 20px;
}

.dufan i{
  position: relative;
  left: 20px;
}

@media (max-width: 900px) {
  .tagline h3 {
    font-size: 1.8rem;
  }

  .tagline {
    text-align: start;
    margin-top: 60px;
  }

  .search-icon {
    display: flex;
    position: absolute;
    top: 3%;
    left: 5%;
    z-index: 999;
  }

  .logo {
    position: absolute;
    top: 4%;
    left: 35%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .nav-right {
    position: absolute;
    top: 4%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nav-container.active {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .nav-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 320px;
    height: auto;
    padding: 20px;
  }

  .header-destination {
    align-items: flex-start;
    flex-direction: column;
  }

  .header-destination-1 {
    display: flex;
    flex-direction: row;
  }

  .nav-content input .going {
    width: 200px;
    z-index: 1;
  }

  .nav-container-1,
  .nav-container-2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
  }

  .nav-container-2 {
    right: 0;
  }

  .nav-container-1 .line-nav {
    display: none;
  }

  .nav-container-2 .jumlah {
    position: relative;
    right: 50px;
  }

  .nav-content {
    flex: 1;
  }

  .search-content {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 20px;
    order: 3;
    margin-top: 10px;
    right: 0;
  }

  .promo-scroll {
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
    overflow-x: auto;
  }

  .promo-scroll-1,
  .promo-scroll-2 {
    justify-content: flex-start;
  }

  .promo-card {
    width: 100%;
  }

  .promo-button {
    display: flex;
  }
  .about-container {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .about-right{
    margin-top: 20px;
  }

  .about-section{
    padding: 1rem 2rem 3rem 2rem;
  }

  .partners-grid, .partners-grid-2, .partners-grid-3 {
    justify-content: flex-start;
  }

  .line-partner{
    width: 300px;
  }
}
