@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  height: auto;
  width: 100%;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

.header {
  position: relative;
  width: auto;
  height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/soekarnohatta.jpg") no-repeat center center/cover;
  filter: brightness(0.5);
  z-index: -1;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  position: fixed;
  top: 0;
  justify-content: left;
  z-index: 5;
}

.back-icon .material-icons {
  font-size: 1.875rem;
  cursor: pointer;
  color: #007bff;
}

.hero {
  width: 100%;
  display: flex;
  margin: auto 0;
  z-index: 100;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.subtitle {
  font-size: 2rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  min-width: 0;
}

.main-title {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  min-width: 0;
  text-align: center;
  padding: 1rem;
}

.description {
  font-size: 1.25rem;
  letter-spacing: 0.0625rem;
  margin-top: 20px;
  opacity: 0.8;
  max-width: 100%;
  min-width: 0;
}

.about {
  padding: 20px 50px;
  min-height: 100vh;
  width: auto;
  margin: 50px auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
}

.about hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1.25rem 0;
}

.section-description {
  font-size: 1.25rem;
  line-height: 1.6;
}
.facility {
  padding: 20px 0;
}
.facility-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 0;
}

.card-facility {
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border: 1.5px solid #ddd;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-facility:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.card-facility img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-facility-content {
  padding: 15px;
  text-align: center;
}

.card-facility-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.card-facility-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}
.facility hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1.25rem 0;
}
.location-and-form {
  padding: 20px 0;
}
.map-and-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}
form {
  width: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.form-title h2 {
  font-size: 2rem;
  color: #333;
}

.form-title p {
  font-size: 1rem;
  color: #666;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.form-input input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-input input:focus {
  border-color: #007bff;
}

.form-input input::placeholder {
  color: #aaa;
}

.total {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.total h3 {
  font-size: 1.2rem;
  color: #333;
}

.total p {
  font-size: 1.5rem;
  color: #383838;
  font-weight: bold;
}

.button {
  color: #F5F5F0;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: #f39c12;
  border-radius: 40px;
  font-size: 20px;
  margin-top: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.button:hover {
  box-shadow: 0.4px 1px 4px rgba(0, 0, 0, 0.8);
  transform: translateY(-2px);
}

.recommendations {
  padding: 20px 0;
}

.section-title-recommendation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.section-title-recommendation h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.section-title-recommendation h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  align-self: flex-end;
  text-decoration: none;
  color: inherit;
}
a {
  text-decoration: none;
}

.recommendations-scroll {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  padding: 20px 0;
}

.card-recommendations {
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1.5px solid #ddd;
  min-width: 350px;
}

.card-recommendations img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-recommendations-content {
  padding: 15px;
  text-align: left;
}

.card-recommendations-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.card-recommendations-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}
.button-detail {
  cursor: pointer;
  padding: 0.7em 1em;
  border-radius: 0.5em;
  min-height: 2.4em;
  min-width: 3em;
  display: flex;
  align-items: center;
  gap: 0.5em;

  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;

  background: #f39c12;
  color: #F5F5F0;
  border: none;
  box-shadow: inset 0.4px 1px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.button-detail:hover {
  box-shadow: inset 0.4px 1px 4px rgba(0, 0, 0, 0.5),
    2px 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

::-webkit-scrollbar {
  display: none;
}
/* Footer Container */
.footer-section {
  background: linear-gradient(to top, #F3F9FF, #b5e3ff);
  text-align: center;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer-container {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  height: auto;
  width: 100%;
  padding: 2rem 3rem;
  border-radius: 100px 0 0 0;
}

.footer-content{
  display: flex;
  flex-direction: row;
}

.footer-left,
.footer-mid,
.footer-right {
  flex: 1;
  margin: 10px;
  min-width: 250px;
  text-align: start;
}

.footer-mid{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-direction: row;
  width: 100%;
}

.office, .links {
  flex: 1;
}

.office a{
  color: #fff;
}

.logo-footer a {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.description-footer {
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.6;
}

.title-footer {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.all-links a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 14px;
}

.all-links a:hover {
  text-decoration: underline;
}

.message {
  display: flex;
  align-items: center;
  background: transparent;
  padding: 8px;
  border-radius: 20px;
  overflow: hidden;
}

.message input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px 10px;
  flex: 1;
  outline: none;
  background: transparent;
  color: #efefef;
}

.message i {
  color: black;
  padding: 0 10px;
  cursor: pointer;
}

.footer-sci {
  margin-top: 25px;
}

.footer-sci .sci-icon a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  transition: 0.3s;
  background: #007bff;
  padding: 5px 7px;
  border-radius: 50%;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}

.footer-sci .sci-icon a:hover {
  background: #f39c12;
}

.line-footer {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin-top: 20px;
}

.copyright {
  font-size: 14px;
  margin-top: 10px;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 20px;
  }

  .about {
    padding: 20px;
  }

  .facility-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .map-and-form {
    grid-template-columns: repeat(2, 1fr);
  }

  .recommendations-scroll {
    gap: 20px;
  }

  .footer-content {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .facility-grid {
    grid-template-columns: 1fr;
  }

  .map-and-form {
    grid-template-columns: 1fr;
  }

  .recommendations-scroll {
    gap: 10px;
  }
}
@media screen and (max-width: 425px) {
  .subtitle {
    font-size: 2rem;
  }

  .main-title {
    font-size: 4rem;
  }

  .description {
    font-size: 0.875rem;
  }

  .section-title {
    font-size: 1.75rem;
  }

  .section-description {
    font-size: 0.875rem;
  }

  .card-facility-title {
    font-size: 1rem;
  }

  .card-facility-description {
    font-size: 0.75rem;
  }

  .form-title h2 {
    font-size: 1.25rem;
  }

  .form-title p {
    font-size: 0.75rem;
  }

  .form-input input {
    font-size: 0.75rem;
    padding: 8px;
  }

  .total h3 {
    font-size: 0.875rem;
  }

  .total p {
    font-size: 1rem;
  }

  .button-form {
    font-size: 14px;
    padding: 0.5em 0.75em;
  }
  .section-title-recommendation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .section-title-recommendation h2 {
    font-size: 24px;
    color: #000;
    margin: 0;
  }

  .section-title-recommendation a {
    font-size: 16px;
    color: #4d4db3;
    text-decoration: none;
  }

  .section-title-recommendation a:hover {
    color: #000;
    text-decoration: underline;
  }

  .card-recommendations-title {
    font-size: 1rem;
    margin-bottom: 8px;
  }

  .card-recommendations-description {
    font-size: 0.75rem;
  }

  .button-detail {
    font-size: 14px;
    padding: 0.5em 0.75em;
  }
}
