/* Reset dan Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  height: auto;
  width: 100%;
  overflow-x: hidden;
}

.header {
  position: relative;
  width: auto;
  height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/bghero.png") no-repeat center center/cover;
  filter: brightness(0.5);
  z-index: -1;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  position: sticky;
  top: 0;
}

.back-icon .material-icons {
  font-size: 1.875rem;
  cursor: pointer;
  text-decoration: none;
  color: #f9f9f9;
}

.hero {
  margin: auto 0;
  z-index: 100;
}

.subtitle {
  font-size: 2.8125rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  min-width: 0;
}

.main-title {
  font-size: 6.875rem;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  min-width: 0;
}

.description {
  font-size: 1.25rem;
  letter-spacing: 0.0625rem;
  margin-top: 20px;
  opacity: 0.8;
  max-width: 100%;
  min-width: 0;
}

.about {
  padding: 20px 50px;
  min-height: 100vh;
  width: auto;
  margin: 50px auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: center;
}

.about hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1.25rem 0;
}

.section-description {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 20px;
}
.facility {
  padding: 20px 0;
}
.facility-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 0;
}

.card-facility {
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1.5px solid #ddd;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-facility img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-facility-content {
  padding: 15px;
  text-align: center;
}

.card-facility-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.card-facility-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}
.facility hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1.25rem 0;
}
.location-and-form {
  padding: 20px 0;
}
.map-and-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}
form {
  width: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.form-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.form-title h2 {
  font-size: 2rem;
  color: #333;
}

.form-title p {
  font-size: 1rem;
  color: #666;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.form-input input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-input input:focus {
  border-color: #007bff;
}

.form-input input::placeholder {
  color: #aaa;
}

.total {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.total h3 {
  font-size: 1.2rem;
  color: #333;
}

.total p {
  font-size: 1.5rem;
  color: rgb(0, 255, 64);
  font-weight: bold;
}

.button-form {
  cursor: pointer;
  padding: 0.7em 1em;
  border-radius: 0.5em;
  min-height: 2.4em;
  min-width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;

  background: linear-gradient(
    140deg,
    hsl(240, 40%, 50%) 20%,
    hsl(240, 40%, 60%) 100%
  );
  color: hsl(0, 0%, 90%);
  border: none;
  box-shadow: inset 0.4px 1px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.button-form:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0.4px 1px 4px rgba(0, 0, 0, 0.5),
    2px 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.button-form:active {
  background: linear-gradient(
    140deg,
    hsl(240, 40%, 40%) 20%,
    hsl(240, 40%, 50%) 100%
  );
  box-shadow: inset 0.4px 1px 8px rgba(0, 0, 0, 0.5),
    0px 0px 8px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.1em;
  transform: scale(1);
}

.recommendations {
  padding: 20px 0;
}

.section-title-recommendation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.section-title-recommendation h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  color: #000;
}

.section-title-recommendation h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  align-self: flex-end;
  text-decoration: none;
  color: inherit;
}
a {
  text-decoration: none;
}

.recommendations-scroll {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  padding: 20px 0;
}

.card-recommendations {
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1.5px solid #ddd;
  min-width: 350px;
}

.card-recommendations img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-recommendations-content {
  padding: 15px;
  text-align: left;
}

.card-recommendations-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.card-recommendations-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
}
.button-detail {
  cursor: pointer;
  padding: 0.7em 1em;
  border-radius: 0.5em;
  min-height: 2.4em;
  min-width: 3em;
  display: flex;
  align-items: center;
  gap: 0.5em;

  font-size: 18px;
  letter-spacing: 0.05em;
  line-height: 1;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;

  background: linear-gradient(
    140deg,
    hsl(240, 40%, 50%) 20%,
    hsl(240, 40%, 60%) 100%
  );
  color: hsl(0, 0%, 90%);
  border: none;
  box-shadow: inset 0.4px 1px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.button-detail:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0.4px 1px 4px rgba(0, 0, 0, 0.5),
    2px 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}

.button-detail:active {
  background: linear-gradient(
    140deg,
    hsl(240, 40%, 40%) 20%,
    hsl(240, 40%, 50%) 100%
  );
  box-shadow: inset 0.4px 1px 8px rgba(0, 0, 0, 0.5),
    0px 0px 8px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
  color: hsl(0, 0%, 100%);
  letter-spacing: 0.1em;
  transform: scale(1);
}
::-webkit-scrollbar {
  display: none;
}
/* Footer Container */
footer {
  background: #343434;
  color: #f9f9f9;
  padding: 30px 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: auto;
  gap: 20px;
}

.footer-content {
  flex: 1; 
  min-width: 200px; 
  text-align: center;
}


.footer-content h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #f9f9f9;
  font-family: "Montserrat", sans-serif;
}


.footer-content p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #b3b3b3;
}

.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 15px;
}

.social-icons li {
  display: inline-block;
}

.social-icons a {
  color: #b3b3b3;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #f9f9f9;
}

.bottom-bar {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8rem;
  color: #b3b3b3;
}


@media screen and (max-width: 768px) {
  .navbar {
    padding: 20px;
  }

  .hero {
    margin: 50px 0;
  }

  .about {
    padding: 20px;
  }

  .facility-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .map-and-form {
    grid-template-columns: repeat(2, 1fr);
  }

  .recommendations-scroll {
    gap: 20px;
  }

  .footer-content {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .facility-grid {
    grid-template-columns: 1fr;
  }

  .map-and-form {
    grid-template-columns: 1fr;
  }

  .recommendations-scroll {
    gap: 10px;
  }
}
@media screen and (max-width: 425px) {
  .hero {
    margin: 20px 0;
  }
  .subtitle {
    font-size: 2rem;
    margin-bottom: 8px;
  }

  .main-title {
    font-size: 4rem;
    margin: 0;
  }

  .description {
    font-size: 0.875rem;
    margin-top: 15px;
  }

  .section-title {
    font-size: 1.75rem;
    margin-bottom: 15px;
  }

  .section-description {
    font-size: 0.875rem;
    margin-bottom: 15px;
  }

  .card-facility-title {
    font-size: 1rem;
    margin-bottom: 8px;
  }

  .card-facility-description {
    font-size: 0.75rem;
  }

  .form-title h2 {
    font-size: 1.25rem;
  }

  .form-title p {
    font-size: 0.75rem;
  }

  .form-input input {
    font-size: 0.75rem;
    padding: 8px;
  }

  .total h3 {
    font-size: 0.875rem;
  }

  .total p {
    font-size: 1rem;
  }

  .button-form {
    font-size: 14px;
    padding: 0.5em 0.75em;
  }
  .section-title-recommendation {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
  }
  
  .section-title-recommendation h2 {
    font-size: 24px; 
    color: #000;
    margin: 0; 
  }
  
  .section-title-recommendation a {
    font-size: 16px;
    color: #4d4db3;
    text-decoration: none;
  }
  
  .section-title-recommendation a:hover {
    color: #000; 
    text-decoration: underline;
  }
  
  .card-recommendations-title {
    font-size: 1rem;
    margin-bottom: 8px;
  }

  .card-recommendations-description {
    font-size: 0.75rem;
  }

  .button-detail {
    font-size: 14px;
    padding: 0.5em 0.75em;
  }
}
